body{
  font-family: sans-serif;
}
.sidebar {
  float: right;
  border: 8px solid rgb(175, 181, 197);
  padding: 4px;
  margin: 6px;
  background-color: sandybrown;
}
.group {
  float: left;
  border: 8px solid rgb(124, 225, 65);
  padding: 6px;
  margin: 8px;
  background-color: navy);
}
.group img {
  width: 250px;
  height: 200px;
}
.photos {
  float: left;
  border: 8px solid rgb(240, 51, 240);
  padding: 10px;
  background-color: blue;
}
img {
  border: 4px solid seagreen;
  width: 200px;
  height: 150px;
  padding: 10px;
}
