.sidebar {
  float: right;
  border: 2px solid royalblue;
  padding: 4px;
  margin: 6px;
  background-color: sandybrown;
}
.group {
  float: left;
  border: 3px solid rgb(124, 225, 65);
  padding: 6px;
  margin: 8px;
  background-color: rgb(239, 96, 244);
}
.photos {
  float: left;
}
img {
  border: 4px seagreen;
  padding: 10px;
  margin: 8px;
  background-color: springgreen;
}
